*.pyc
*~
*.sw*
*.egg/
*.egg-info
__pycache__
build/
dist/
docs/_build/
TODO
examples/monitoring/.env
examples/monitoring/notifications.local/
examples/ui/secrets.local/
examples/ui/.env
ui/test-results/
