#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/pkg-info.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v
export PYBUILD_VERBOSE=1

export PYBUILD_NAME=monit-docker

DISTRIB_VERSION=$(shell lsb_release -s -r | sed -nre 's/^[^0-9]*([0-9]+).*/\1/p')

ifeq ($(shell test $(DISTRIB_VERSION) -lt 11; echo $$?),0)
	DH_WITH_PYTHON=python2
	export PYBUILD_DISABLE_python3=1
else
	DH_WITH_PYTHON=python3
	export PYBUILD_DISABLE_python2=1
endif

%:
	dh $@ --with $(DH_WITH_PYTHON) --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	$(shell echo "$(DEB_VERSION_UPSTREAM)" > $(CURDIR)/VERSION)

override_dh_auto_clean:
	dh_auto_clean
	rm -f "$(CURDIR)/VERSION"
	find . -type d -name '*.egg-info' | xargs rm -rf
