vars:
  base_url_unix: unix:///var/run/docker.sock
  base_url_https: https://127.0.0.1:2376/
  tls_verify: true
clients:
  '@import_client':
    - clients.yml.example
  local_https:
    config:
      base_url: ${vars['base_url_https']}
      tls:
        verify: ${vars['tls_verify']}
  foo_https:
    '@import_vars': foo_https.vars.yml.example
    config:
      base_url: ${vars['base_url_https']}
ctn-groups:
  php:
    match:
      - 'name:foo-php*'
      - 'image:*/php-fpm/*'
      - 'label:*php-fpm*'
  nodejs:
    match:
      - 'id:4c01db0b339c'
      - 'name:node*'
conditions:
  mem_gt_10pct_and_cpu_gt_60pct:
    expr:
      - mem_percent > 10
      - cpu_percent > 60
  mem_usage_100MiB:
    expr:
      - mem_usage > 100 MiB
  status_not_running:
    expr:
      - status not in (pause,running)
commands:
  start_pause:
    exec:
      - start
      - (echo 'foo' > /tmp/bar)
      - pause
  pause_restart:
    exec:
      - pause
      - restart
  remove_force:
    exec:
      - remove:
          kwargs:
            force: true
